.botonbienvenido{
    margin-top: 50px ;
    margin-bottom: 20px;
    margin-left: 13%;
    width: 300px;
    // borderRadius: 100,
    // borderColor: '#9f2141',
    // borderWidth: 2,
    // paddingHorizontal: 20,
    // paddingVertical: 10,
    // marginBottom: 10,

}