<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bienvenido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img width="imgWidth" height="imgHeight" src="https://sui.dif.cdmx.gob.mx/sui/_app/img_leona_bicario.jpg">
  </ion-img>
  <p>Bienvenidos</p>
  <p>Apoya a niñas, niños y adolescentes de 0 a 17 años 11 meses, que viven
    situaciones de alta vulnerabilidad, atendiendo a la restitución de sus
    derechos en particular de educación y alimentación.</p>
  <p>Contribuir a la restitución de los derechos de hasta 35,500 niñas,
    niños y adolescentes, de 0 a 17 años 11 meses, que viven situaciones
    de alta vulnerabilidad, que favorezca su desarrollo integral, de
    manera particular, sus derechos a la educación y alimentación.
  </p>
  <ion-button color="light" class="botonbienvenido" href="http://derechohabientes.sui.dif.cdmx.gob.mx/sui/subsistemas/registros/new_pro/registro.php">Registrate Aprende y Crea</ion-button>
  <ion-button color="light" class="botonbienvenido" href="https://becaleonavicario.cdmx.gob.mx/I/atenciones-integrales-virtuales">Atenciones Integrales</ion-button>
  

</ion-content>